
    <!DOCTYPE html>
    <head>
      <meta charset="UTF-8" />
      <title>Cadastro de Produtos - Segundo Desafio Gama Academy / VTex</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <link rel="stylesheet" type="text/css" href="ClienteProduto.css" />
    </head>
    <body>
      <div class="container" >
        <a class="links" id="paracadastro"></a>
        <a class="links" id="paralogin"></a>
         
        <div class="content">      
    <div id="login">
        <form method="post" action=""> 
          <h1>Cadastro de Produtos</h1> 
          <p> 
            <label for="nome_login">Nome do Produto</label>
            <input id="nome_login" name="nome_login" required="required" type="text" placeholder="ex. Boné Lacoste Full Black"/>
          </p>
           
          <p> 
            <label for="email_login">Marca do Produto</label>
            <input id="email_login" name="email_login" required="required" type="text" placeholder="ex. Lacoste" /> 
          </p>
           
          <p> 
            <label for="email_login">Descrição do Produto</label>
            <input id="email_login" name="email_login" required="required" type="text" placeholder="ex. Boné Lacoste preto 100% algodão" /> 
          </p>

          <p> 
            <input type="submit" value="Cadastrar" /> 
          </p>
        </form>
      </div>
        </div>
      </div>  
    </body>
    </html>